@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --display-text-header-big: Oxanium;
  --font-lato: Lato;
  --font-inter: Inter;
  --font-arial: Arial;
  --font-abel: Abel;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-81xl: 100px;
  --font-size-6xl: 25px;
  --display-text-header-big-size: 64px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;

  /* Colors */
  --color-black: #000;
  --color-gray-100: rgba(255, 255, 255, 0.8);
  --color-gray-200: rgba(255, 255, 255, 0.51);
  --color-gray-300: rgba(255, 255, 255, 0);
  --color-white: #fff;
  --color-darkmagenta-100: #ad1aaf;
  --color-darkmagenta-200: rgba(173, 26, 175, 0.05);
  --color-dodgerblue-100: #5991ff;
  --color-dodgerblue-200: rgba(89, 145, 255, 0.05);
  --color-powderblue: rgba(199, 225, 219, 0.11);
  --color-fuchsia-100: #f81dfb;

  /* Gaps */
  --gap-28xl: 47px;
  --gap-585xl: 604px;
  --gap-4xs: 9px;
  --gap-sm: 14px;
  --gap-11xs: 2px;
  --gap-11xl: 30px;
  --gap-92xl: 111px;
  --gap-5xs: 8px;
  --gap-31xl: 50px;
  --gap-21xl: 40px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-mini: 15px;
  --padding-10xl: 29px;
  --padding-3xs: 10px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-381xl: 400px;
  --br-xs: 12px;
  --br-12xs-3: 0.3px;
}
